{% extends 'base.html.twig'%}
{% block body %}
<div class="container mt-5">
    <div class=" p-3 rounded shadow">
        <h3>Add your product</h3>
        {{ form_start(form)}}
        {{ form_row(form.name, {'attr': {'placeholder': "Product name"}}) }}
        {{ form_row(form.price, {'attr': {'placeholder': "Product price"}}) }}
        {{ form_row(form.slug, {'attr': {'placeholder': "Product Slug"}}) }}
        <button type="submit" class="mt-4 btn btn-success">
            Add Product
        </button>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}